dj-database-url==1.2.0
django-allauth==65.13.0
django-axes==8.0.0
django-cors-headers==4.9.0
djangorestframework==3.14.0
gunicorn==23.0.0
idna==3.11
packaging==25.0
pillow==12.0.0
pip==24.3.1
psycopg2-binary==2.9.11
pycparser==2.23
PyJWT==2.10.1
python-dotenv==1.0.0
pytz==2025.2
requests==2.32.5
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.11.0
